# Dodo Payments Configuration (Live Mode)
PORT=3001

# Dodo Payments API Key (Live mode)
DODO_PAYMENTS_API_KEY=KN6GWZtWGjqCOWHX.gW4YYnJv9gLiH-hayBtae0qbB_VYwrO6XYBWGwDYFntX317J

# Dodo Webhook Secret (Live mode)
DODO_WEBHOOK_SECRET=whsec_97bkEfYGb++R+NZJtcNOVRsZehcwbcC8

# Dodo Product ID (Live mode)
DODO_PRODUCT_ID=pdt_0NoU1YNuo28GCz86kBc75
